.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listParent {
  position: absolute;
  top: 10px;
  left: 60px;
  cursor: pointer;
  width: 150px;
}
.list {
  background-color: rgb(209, 209, 209);
}
.floor {
  margin-top: 0;
}
.floor:hover {
  background-color: rgb(255, 255, 255);
}

.modelDetail {
  background: rgb(151, 151, 151);
  opacity: 0.9;
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.typeList {
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
}
.ot {
  width: 200px;
  height: 400px;
  overflow-y: scroll;
  opacity: 0.8;
  background-color: rgb(209, 209, 209);
}
.type {
  margin-top: 0;
}
.type:hover {
  background-color: rgb(255, 255, 255);
}
